In [1]:
import json
import pandas as pd

In [2]:
import mysql.connector
from mysql.connector import errorcode

Connecting to the database

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin ='mysql_native_password')

In [4]:
mycursor = cnx.cursor()

We insert the values for the European zones

In [5]:
query = "INSERT INTO regions(region_name) VALUES(%s)"
val = [[('mediterranean')], [('north')], [('centre')], [('east')]]
mycursor.executemany(query, val)
cnx.commit()

In [8]:
mediterranean = {
    "ES": "Spain",
    "FR": "France",
    "MC": "Monaco",
    "IT": "Italy",
    "SI": "Slovenia",
    "HR": "Croatia",
    "BA": "Bosnia and Herzegovina",
    "ME": "Montenegro",
    "AL": "Albania",
    "GR": "Greece",
    "MT": "Malta",
    "CY": "Cyprus"
}

east = {
    "BY": "Belarus",
    "BG": "Bulgaria",
    "CZ": "Czechia",
    "SK": "Slovakia",
    "HU": "Hungary",
    "MD": "Moldova",
    "PL": "Poland",
    "RO": "Romania",
    "UA": "Ukraine"
}

north = {
    "DK": "Denmark",
    "EE": "Estonia",
    "FI": "Finland",
    "IS": "Iceland",
    "IE": "Ireland",
    "LT": "Lithuania",
    "LV": "Latvia",
    "NO": "Norway",
    "SE": "Sweden",
    "GB": "United Kingdom"
}

centre = {
    "AT": "Austria",
    "DE": "Germany",
    "CH": "Switzerland",
    "LI": "Liechtenstein",
    "BE": "Belgium",
    "LU": "Luxembourg",
    "NL": "Netherlands"
}

We created a function to assign an ID to each zone by country.
AREA_ID: 1 Mediterranean, 2 North, 3 Centre, 4 East

In [9]:
def add_country(dictionary, region_id):
    query = "INSERT INTO countries(country_id, country_name, region_id) VALUES (%s, %s, %s)"
    
    values = []
    for country_id, country_name in dictionary.items():
        values.append((country_id, country_name, region_id))
    
    mycursor.executemany(query, values)
    cnx.commit()

In [11]:
# This list of tuples is used to iterate in a loop, adding the ‘add country’ function.
#regions = [
   # (mediterranean, 1),
   # (north, 2),
   # (centre, 3),
   # (east, 4)]
#for region_dict, region_id in regions:
  #  add_country(region_dict, region_id)

*ANOTHER OPTION WITHOUT LOOPS*

In [ ]:
#add_country(mediterranean,1)
#add_country(north, 2)
#add_country(centre, 3)
#add_country(east, 4)

## Let's add a range of years.

In [12]:
query_years = "INSERT INTO decades(year_range) VALUES(%s)"
val_years = [[('2000-2004')], [('2005-2009')], [('2010-2014')], [('2015-2019')], [('2020-2024')]]
mycursor.executemany(query_years, val_years)
cnx.commit()

## Adding artists to the DataFrame.

We are going to convert a CSV file into dataframes and add the data from the dataframes to the database in SQL.

In [13]:
def convert_csv(zone, years):
    df = pd.read_csv(f'csv_files/{zone}_{years}.csv', index_col = 0)
    return df

## **Creating lists of regions and decades for looping later**

In [14]:
regions = [
    (mediterranean, 1),
    (north, 2),
    (centre, 3),
    (east, 4)
]

In [15]:
decades = [
    ("2000-2004", 1),
    ("2005-2009", 2),
    ("2010-2014", 3),
    ("2015-2019", 4),
    ("2020-2024", 5)
]

# 2000 - 2004

 # *EUROPEAN EAST DATAFRAME 00-04*

In [16]:
df_east_00_04 = convert_csv('east', '2000_2004')

In [17]:
df_east_00_04

,nombre,popularity,artista,pais,genero
id,,,,,
0,Сукины дети,52,1.Kla$,BY,NaN
1,Angel,28,"Shaggy, Rayvon",BY,NaN
2,Sonne,73,Rammstein,BY,industrial metal
3,Cabelo Raspadinho,2,Chiclete Com Banana,BY,brasil
4,Without Me,83,Eminem,BY,rap
...,...,...,...,...,...
445,The Way I Am,0,Eminem,UA,rap
446,Seven Nation Army,78,The White Stripes,UA,rock
447,"Rama Hare - From ""Soothradharan""",0,"Raveendran, Edappal Viswan, Gayathri Ashokan",UA,NaN
448,Bitches,67,Mindless Self Indulgence,UA,industrial
449,Oceano - Ao Vivo,0,Djavan,UA,NaN

 # *EUROPEAN CENTRE DATAFRAME 00-04*

In [18]:
df_centre_00_04 = convert_csv('centre', '2000_2004')

In [19]:
df_centre_00_04

                     nombre  popularity              artista pais   genero
id
0                 Unwritten          81  Natasha Bedingfield   AT      pop
1                     Angel          28       Shaggy, Rayvon   AT      NaN
2            Mr. Brightside          82          The Killers   AT     rock
3                   Rooftop           0                Sasha   AT      pop
4                      Numb          83          Linkin Park   AT     rock
..                      ...         ...                  ...  ...      ...
345      Mzael Kel El Banat           0          Wael Kfoury   NL      NaN
346             Ms. Jackson          78              Outkast   NL  Hip-Hop
347         Ergaa Lel Shoua           0               Elissa   NL      NaN
348          Dansen Aan Zee          50                 BLØF   NL      pop
349  Holding Back the Years           0           Simply Red   NL      80s

[350 rows x 5 columns]

 # *EUROPEAN NORTH DATAFRAME*

In [20]:
df_north_00_04 = convert_csv('north', '2000_2004')

In [21]:
df_north_00_04

,nombre,popularity,artista,pais,genero
id,,,,,
0,Unwritten,81,Natasha Bedingfield,DK,pop
1,Angel,28,"Shaggy, Rayvon",DK,NaN
2,En Dag Tilbage,47,Nik & Jay,DK,NaN
3,He Loves U Not,0,Dream,DK,pop
4,Yellow,86,Coldplay,DK,rock
...,...,...,...,...,...
495,Sing For The Moment - Edited,0,Eminem,GB,NaN
496,Bring Me To Life,80,Evanescence,GB,rock
497,Communication Breakdown - Live at The Royal Al...,0,Led Zeppelin,GB,NaN
498,Ms. Jackson,78,Outkast,GB,Hip-Hop
499,Haste to the Wedding (Pt. 1 & 2),0,The Corrs,GB,NaN

 # *EUROPEAN MEDITERRANEAN DATAFRAME*

In [22]:
df_mediterranean_00_04 = convert_csv('mediterranean', '2000_2004')

In [23]:
df_mediterranean_00_04

,nombre,popularity,artista,pais,genero
id,,,,,
0,Soldadito marinero,62,Fito y Fitipaldis,ES,spanish
1,Angel,28,"Shaggy, Rayvon",ES,NaN
2,Rosas,75,La Oreja de Van Gogh,ES,pop
3,Dímelo bajito,0,Manzanita,ES,NaN
4,La vereda de la puerta de atrás,60,Extremoduro,ES,rock
...,...,...,...,...,...
595,Love Is Alive - Live; 2004 Remaster,0,Joe Cocker,CY,NaN
596,Chop Suey!,79,System Of A Down,CY,alternative metal
597,Ni na no,0,Javier Álvarez,CY,NaN
598,Faint,79,Linkin Park,CY,rock
599,Call Me,0,Blondie,CY,80s

---

df_east_00_04 is a pandas DataFrame.

.itertuples() iterates over each row of the DataFrame as a tuple (an ordered sequence of values).

name=None → prevents it from creating a custom Pandas class for tuples (returns normal, faster tuples).

index=False → causes the DataFrame index not to be included in the tuple.

In [24]:
# Create a list of artists names by region and year
lt_art_east = []

In [25]:
for i in df_east_00_04.itertuples(name=None, index=False):
    lt_art_east.append(([i[2]])) # 2 = name

In [26]:
artists_query = "INSERT INTO artists(artist_name) VALUES(%s)"
for art in lt_art_east:
    try:
     mycursor.execute(artists_query, art)
     cnx.commit()
    except:
      continue
cnx.close()

## We insert the songs into the tables

In [27]:
# Here we are creating a dictionary from the Dataframe for the loop 
c_g_i = {'nombre': [], 'genero': [], 'popularity': [], 'pais': []}

In [28]:
for i in df_east_00_04.itertuples(name=None, index=False):
    c_g_i['nombre'].append(i[0])        # antes ([i[0]])
    c_g_i['genero'].append(i[4])         # antes ([i[4]])
    c_g_i['popularity'].append(i[1])    # antes ([i[1]])
    c_g_i['pais'].append(i[3])           # antes ([i[3]])

In [29]:
# We get strings no lists
c_g_i['nombre'][0]

'Сукины дети'

In [ ]:
# This is the loop to iterate and create the list to insert the songs
#for i in df_east_00_04.itertuples(name=None, index=False):
    #c_g_i['cancion'].append(([i[0]]))
    #c_g_i['genero'].append(([i[4]]))
    #c_g_i['popularidad'].append(([i[1]]))
    #c_g_i['pais'].append(([i[3]]))

In [30]:
# The function wants to insert songs into an SQL table named songs
def add_songs(dictionary, decade_id):
    songs_query = "INSERT INTO songs(song_title, genre, popularity) VALUES(%s, %s, %s)"
    relation_query = "INSERT INTO decade_of_song(decade_id, song_id) VALUES (%s, %s)"

    for i in range(len(dictionary['nombre'])):
        #Insert song
        val_song = (
        str(dictionary['nombre'][i]).strip("[]'"),
        str(dictionary['genero'][i]),
        int(dictionary['popularity'][i])
)

        mycursor.execute(songs_query, val_song)
        cnx.commit()

        # Get last inserted song ID
        song_id = mycursor.lastrowid

        # Link song with its period (lustro)
        val_relation = (decade_id, song_id)
        mycursor.execute(relation_query, val_relation)
        cnx.commit()

'''What this code does:

            - Inserts each song with its title, genre, and popularity into the songs table.

            - Automatically obtains the song_id generated by MySQL.

            - Inserts a relationship between that song_id and the corresponding decade_id in the song_decade table.'''

'What this code does:\n\n            - Inserts each song with its title, genre, and popularity into the songs table.\n\n            - Automatically obtains the song_id generated by MySQL.\n\n            - Inserts a relationship between that song_id and the corresponding decade_id in the song_decade table.'

In [31]:
import mysql.connector

# Crear la conexión
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
host='127.0.0.1',
database='musicstream', 
auth_plugin='mysql_native_password')

# Crear cursor
mycursor = cnx.cursor()

# Llamar a la función
#add_songs(c_g_i, decade_id=1)

## **Looping to add songs to decade 2000-2004 in East Europa**

In [32]:
for decade_name, decade_id in decades:
    for region_dict, region_id in regions:
        # Insert countries (once)
        # add_country(region_dict, region_id)

        # Insert songs for this region and decade
        # Supongamos que tu DataFrame se llama df_region_decade
        # Convertir DataFrame a diccionario compatible con add_songs:
        c_g_i = {
            'nombre': df_east_00_04['nombre'].tolist(),
            'genero': df_east_00_04['genero'].tolist(),
            'popularity': df_east_00_04['popularity'].tolist(),
            'region_id': df_east_00_04['pais'].tolist()
        }

        add_songs(c_g_i, decade_id)

## **Looping to add songs to decade 2000-2004 in Centre Europa**

In [33]:
for decade_name, decade_id in decades:
    for region_dict, region_id in regions:
        # Insert countries (once)
        # add_country(region_dict, region_id)

        # Insert songs for this region and decade
        # Supongamos que tu DataFrame se llama df_region_decade
        # Convertir DataFrame a diccionario compatible con add_songs:
        c_g_i = {
            'nombre': df_centre_00_04['nombre'].tolist(),
            'genero': df_centre_00_04['genero'].tolist(),
            'popularity': df_centre_00_04['popularity'].tolist(),
            'region_id': df_centre_00_04['pais'].tolist()
        }

        add_songs(c_g_i, decade_id)

## **Looping to add songs to decade 2000-2004 in North Europa**

In [34]:
for decade_name, decade_id in decades:
    for region_dict, region_id in regions:
        # Insert countries (once)
        # add_country(region_dict, region_id)

        # Insert songs for this region and decade
        # Supongamos que tu DataFrame se llama df_region_decade
        # Convertir DataFrame a diccionario compatible con add_songs:
        c_g_i = {
            'nombre': df_north_00_04['nombre'].tolist(),
            'genero': df_north_00_04['genero'].tolist(),
            'popularity': df_north_00_04['popularity'].tolist(),
            'region_id': df_north_00_04['pais'].tolist()
        }

        add_songs(c_g_i, decade_id)

## **Looping to add songs to decade 2000-2004 in Mediterranean Europa**

In [35]:
for decade_name, decade_id in decades:
    for region_dict, region_id in regions:
        # Insert countries (once)
        # add_country(region_dict, region_id)

        # Insert songs for this region and decade
        # Supongamos que tu DataFrame se llama df_region_decade
        # Convertir DataFrame a diccionario compatible con add_songs:
        c_g_i = {
            'nombre': df_mediterranean_00_04['nombre'].tolist(),
            'genero': df_mediterranean_00_04['genero'].tolist(),
            'popularity': df_mediterranean_00_04['popularity'].tolist(),
            'region_id': df_mediterranean_00_04['pais'].tolist()
        }

        add_songs(c_g_i, decade_id)

# 2005 - 2009

# *EUROPEAN EAST DATAFRAME 04-09*

In [38]:
df_east_05_09 = convert_csv('east', '2005_2009')

In [39]:
df_east_05_09

,nombre,popularity,artista,pais,genero
id,,,,,
0,Breakin' Dishes,81,Rihanna,BY,rnb
1,Tu Vuoi Da Me Qualcosa - Live,1,Vasco Rossi,BY,NaN
2,Фонари,49,Gorod 312,BY,russian
3,Save Me,1,"Morandi, Helene",BY,NaN
4,Headlock,83,Imogen Heap,BY,electronic
...,...,...,...,...,...
445,Assovia - Ao Vivo,0,Edson & Hudson,UA,NaN
446,Без бою,46,Okean Elzy,UA,Ukrainian
447,How Come/Git Up - (Edited Version),0,D12,UA,NaN
448,Шмата,41,Скрябін,UA,ukraina
449,Le Vide,0,Wir sind Helden,UA,Franzoesich fuer Anfaenger

In [40]:
for decade_name, decade_id in decades:
    for region_dict, region_id in regions:
        # Insert countries (once)
        # add_country(region_dict, region_id)

        # Insert songs for this region and decade
        # Supongamos que tu DataFrame se llama df_region_decade
        # Convertir DataFrame a diccionario compatible con add_songs:
        c_g_i = {
            'nombre': df_east_05_09['nombre'].tolist(),
            'genero': df_east_05_09['genero'].tolist(),
            'popularity': df_east_05_09['popularity'].tolist(),
            'region_id': df_east_05_09['pais'].tolist()
        }

        add_songs(c_g_i, decade_id)

 # *EUROPEAN CENTRE DATAFRAME 04-09*